:root {
    /* colors */
    --clr-dark-grey: hsl(248, 10%, 15%);
    --clr-grey: hsl(251, 9%, 53%);
    --clr-almost-white: hsl(252, 11%, 91%);
    --clr-very-dark-grey: hsl(248, 15%, 11%);

    /* color strengths */
    --clr-red: hsl(0, 91%, 63%);
    --clr-orange: hsl(13, 95%, 66%);
    --clr-yellow: hsl(42, 91%, 68%);
    --clr-green: hsl(127, 100%, 82%);

    /* Typography */
    --fs-large: 2rem;
    --fs-medium: 24px;
    --fs-body: 18px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--clr-very-dark-grey);
}

h3 {
    color: var(--clr-grey);
    margin-bottom: 25px;
}

h4 {
    color: var(--clr-green);
    margin-right: 20px;
}

.generator-container {
    width: 100%;
    max-width: 540px;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .display-password {
        padding-inline: 25px;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--clr-dark-grey);

        #password {
            font-size: var(--fs-large);
            color: var(--clr-grey);
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            #copy-password {
                font-size: var(--fs-medium);
                background: none;
                border: none;
                color: var(--clr-green);

            }

            #copy-password:hover {
                cursor: pointer;
                color: var(--clr-almost-white);
            }
        }
    }

    .generator-settings {
        padding: 25px;
        width: 100%;
        height: 80%;
        background: var(--clr-dark-grey);

        .character-input-container {
            margin-bottom: 30px;
            div {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                label {
                    color: var(--clr-almost-white);
                }

                #range-value {
                    font-size: var(--fs-medium);
                    color: var(--clr-green);
                }
            }

            input[type="range"] {
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 5px;
                cursor: pointer;
                background: linear-gradient(90deg, var(--clr-very-dark-grey), var(--clr-very-dark-grey));
            }

            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: var(--clr-almost-white);
            }

            input[type="range"]::-webkit-slider-thumb:hover {
                border: 2px solid var(--clr-green);
                background: var(--clr-very-dark-grey);
            }
            
            input[type="range"]::-webkit-slider-runnable-track {
                -webkit-appearance: none;
                box-shadow: none;
                border: none;
                background: transparent;
            }
            
        }

        .checkboxes {
            margin-bottom: 20px;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            div {
                position: relative;

                input[type="checkbox"] {
                    opacity: 0;
                    
                }

                input[type="checkbox"] + label::before {
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    outline: 2px solid var(--clr-almost-white);
                    background: var(--clr-very-dark-grey);

                }

                input[type="checkbox"]:hover + label::before {
                    outline: 2px solid var(--clr-green);
                    cursor: pointer;
                }

                input[type="checkbox"]:checked + label::before {
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    outline: 2px solid var(--clr-green);
                    background: var(--clr-green);

                }

                input[type="checkbox"]:checked:hover + label::before {
                    outline: 2px solid var(--clr-green);
                    cursor: pointer;
                }

                input[type="checkbox"]:checked + label::after {
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    background-image: url("./check-mark-2.webp");
                    background-size: contain;
                    object-fit: contain;

                }
                
                label {
                    margin-left: 20px;
                    font-size: var(--fs-body);
                    color: var(--clr-almost-white);
                }
            }
        } 
        
        .strength {
            height: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            background: var(--clr-very-dark-grey);

            .strength-container {
                height: 90%;
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                p {
                    color: var(--clr-grey);
                    font-size: var(--fs-body);

                }

                .strength-level-container {
                    width: 100%;
                    height: 70%;
                    max-width: 160px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    #strength-level {
                        color: var(--clr-almost-white);
                        margin-right: 10px;
                        font-size: var(--fs-body);
                    }

                    .bar-container {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        
                        .strength-bar {
                            width: 15%;
                            border: 2px solid var(--clr-almost-white);
                        
                        }
                    }
                }
            }
        }

        button {
            margin-top: 30px;
            width: 100%;
            height: 15%;
            font-size: var(--fs-body);
            background: var(--clr-green);
            border: none;
        }

        button:hover {
            cursor: pointer;
            color: var(--clr-green);
            background: transparent;
            border: 2px solid var(--clr-green);
        }
    }   
}